body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #e8e7e7;
}

header {
    background: #4A8182;
    padding: 15px;
}

.entete {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.entete .navig a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.entete .navig a:hover{
    font-size: 24px;
}

.affiche {
    display: flex;
    flex-direction: column;
    margin: 70px;
    gap: 50px; 
}

.section1, .section2, .section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 20px; 
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.section1 img, .section2 img, .section3 img {
    
    border-radius: 20px;
}

.text {
    text-align: center;
    font-size: 18px;
}

footer {
    padding: 50px;
    text-align: center;
}

h1 {
    text-align: center;
    margin-top: 5px; 
    font-size: 40px;    
}

.contactez-nous {
    display: flex;
    flex-direction: column;
    width: 700px;
    border: 3px solid;
    border-radius: 10px;
    padding: 0 50px 0 50px;
    background: white;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    margin-top: 20px;
    color: #4A8182;
}

.form_texte{
    font-size: 15px;
}

form div {
    display: flex;
    flex-direction: column;
    min-height: 80px;
}

form button{
    background-color: #4A8182; 
    border: none;
    border-radius: 8px;
    color: white; 
    height: 40px;  
    width: 300px; 
    margin-left: 210px;
}

.section2 a button, .section3 a button {
    height: 50px;
    font-weight: 600;
    font-size: 20px; 
    background-color: #4A8182; 
    border: none;
    border-radius: 8px;
    color: white; 
}

form button:hover, .section2 a button:hover, .section3 a button:hover{
    cursor: pointer;
    transform: scale(1.2);
}